{% extends "layout.html" %}

{% block content %}
  <h2>Добро пожаловать в наш интернет-магазин!</h2>
  <p>Здесь вы найдете широкий ассортимент товаров для всей семьи.</p>

  <section>
    <h3>Популярные категории</h3>
    <div>
      <article>
        <h4><a href="/clothing">Одежда</a></h4>
        <p>Лучшие предложения на сезон.</p>
      </article>
      <article>
        <h4><a href="/shoes">Обувь</a></h4>
        <p>Комфорт и стиль на каждый день.</p>
      </article>
      <article>
        <h4><a href="/jacket">Куртки</a></h4>
        <p>Тепло и уют в холодное время года.</p>
      </article>
    </div>
  </section>